.Header{
    padding-left: 35px;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    overflow: hidden;
    background: url(../../../../../images/sections-icons.png) no-repeat 10px -60px;
}
.Item{
    width: 100%;
    font-size: 14px;
    color: #333;
    padding: 3px 0px 3px 35px;
}
.Header img{
    width: 15px;
    margin-left: 10px;
}
.Header:hover{
    cursor: pointer;
}
.Item img{
    width: 15px;
    margin-right: 10px;
}
.Item:hover{
    cursor: pointer;
}

.ActiveSection{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: blue;
    padding: 3px 0px 3px 35px;
}
.ActiveSection:hover{
    cursor: pointer;
}