.GenresSections{
    padding-left: 35px;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    overflow: hidden;
    background: url(../../../../../images/sections-icons.png) no-repeat 10px -22px;
}
.GenresSectionsItem{
    width: 100%;
    font-size: 14px;
    color: #333;
    padding: 3px 0px 3px 35px;
}
.GenresSections img{
    width: 15px;
    margin-left: 10px;
}
.GenresSections:hover{
    cursor: pointer;
}
.GenresSectionsItem img{
    width: 15px;
    margin-right: 10px;
}
.GenresSectionsItem:hover{
    cursor: pointer;
}