.Main{
    width: min-content;
    position: relative;
}
.MainInput{
    border: 0;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 15px;
    line-height: 0px;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(87,168,255,1);
    -moz-box-shadow: 0px 0px 20px 2px rgba(87,168,255,1);
    box-shadow: 0px 0px 20px 2px rgba(87,168,255,1);
}
.SearchResult{
    position: absolute;
    width: 100%;
    height: min-content;
    max-height: 120px;
    overflow-y: scroll;
    z-index: 10;
    background: rgba(0, 0, 0, 0);
}
.SearchItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-bottom: rgb(200, 200, 200) 1px solid;
    border-radius: 15px;
    background: white;
    padding-left: 15px;
    padding-right: 15px;
}
.SearchItem:hover{
    background: rgb(230, 230, 230);
}

.btn{
  font-weight: 700;
  border: 0;
  color: rgba(100, 50, 100, .7);
  background: 0;
}
.btn:hover{
  color: rgba(250, 80, 250, 1);
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }