.CategoryList{
    margin: 10px;
    width: 210px;
    height: min-content;
    background: white;
    padding: 15px 0px 15px 10px;
}
.CategorySections{
    padding-left: 35px;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    overflow: hidden;
    background: url(../../../../images/sections-icons.png) no-repeat 10px 7px;
}
.CategorySectionsItem{
    width: 100%;
    font-size: 14px;
    color: #333;
    padding: 3px 0px 3px 35px;
}