<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
// Task#1

// function func(){
// console.log("Hello World!")
// }
// func()

// Task#2


// function hello1(a){
    
//     console.log(a);
//     return a
// }

// hello1("привет, Javascript!")

// Task#3
// function sum(a,b){
    
//     return a + b
// }

// console.log(sum(4,2))


// Task#4
// function example(age){
//     if(age >= 18){
//         alert("добро пожаловать")
//     }else{
//         alert("Вход запрещён")
//     }
// }

// example(17)

// // Task #5

// let countries = ['Кыргызстан','Россия','Узбекистан','Великобритания','Китай', 'Соединеные Штаты Америки', 'Бразилия'].sort(function(a, b) {
    
  


// return a.length - b.length;
// });

// console.log(countries)
// console.log(countries[countries.length -1 ]+ "-Эта страна имеет больше всего символов в написании" )
// console.log(countries[countries.length -countries.length ]+ "-Эта страна имеет меньше всего символов в написании" )










// Task#6
// function countChars_long(str) {
//     let result = {};
//     let chars = str.split("");
//     for (let i = 0; i < chars.length; i++) {
//       let count = result[chars[i]]? result[chars[i]] : 0;
//       result[chars[i]] = count + 1; 
//     }
//     return result;
//   }
  
//   function countChars_short(str) {
//     return str.split("").reduce((r, c) => (r[c] = (r[c] || 0) + 1, r), {});
//   }
  
//   console.log(countChars_long(prompt("Введите слово")));

//   Task#7
// function factorial(i) {
//     return (i != 1) ? i * factorial(i - 1) : 1;
//   }
  
//   alert( factorial(prompt("Введите число для вычесления факториала")) );


// Task#8




// function myFunc(a,b){
    
    
//     for(a;a<b;a++){
//         console.log(a)
//     }
//     for(b;b<=a;b++){
//         console.log(b)
//     }
// }


// myFunc(+prompt("Введите первое число"), +prompt("Введите второе число") )
    </script>
</body>
</html>