.Navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: min-content;
    padding: 2px 0px;
    background: white;
    display: flex;
    justify-content: center;
}
.Logo{
    width: 200px;
    height: 50px;
}
.Logo img{
    width: 200px;
}
.Search{
    color: #3490d7;
    font-size: 13px;
    font-weight: 700;
    padding: 0px 15px;
}
.Search img{
    height: 12px;
    margin-right: 5px;
}
.Links{
    display: flex;
    align-items: center;
}
.Link{
    color: rgb(150, 150, 150);
    text-decoration: none;
    border: 0;
    margin: 0px 10px;
    font-weight: 600;
    font-size: 14px;
}
.Link:hover{
    color: #3490d7;
}

.Buttons_Links{
    padding: 0px 25px;
}
.Buttons_Link{
    color: black;
    text-decoration: none;
    border: 0;
    margin: 0px 10px;
    font-weight: 600;
    font-size: 14px;
}
.Buttons_Link:hover{
    color: #3490d7;
}
.Buttons_Link img{
    height: 12px;
    padding: 0px 5px;
}