.Header{
    background: white;  
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: all 0.3s;
    padding-left: 10px;
}
.Header:hover{
    background: #3490d7;
    color: white;
}
.Flag{
    width: 34px;
    position: absolute;
    z-index: 10;
}
.Flag img{
    width: 25px;
}
.Title{
    padding: 0px 10px 0px 35px;
    width: 100%;
    color: black;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    line-height: 53px;
    white-space: nowrap;
    transition: all 0.3s;
}
.GameItem{
    position: relative;
    height: 120px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}
.GameItem img{
    height: 200px;
    position: absolute;
    top: -30px;
    left: -30px;
}
.ItemDesc{
    padding: 5px 0px 5px 0px;
    font-size: 15px;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 40px;
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 11;
}