.Main{
    height: 450px;
}
.Header{
    background: white;  
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: all 0.3s;
    padding-left: 10px;
    z-index: 999999;
}
.Header:hover{
    background: #3490d7;
    color: white;
}
.Flag{
    width: 34px;
    position: absolute;
    z-index: 10;
}
.Flag img{
    width: 25px;
}
.Title{
    padding: 0px 10px 0px 35px;
    width: 100%;
    color: black;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    line-height: 53px;
    white-space: nowrap;
    transition: all 0.3s;
}
.GameItem{
    position: relative;
    height: 120px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}
.GameItem img{
    height: 200px;
    position: absolute;
    top: -45px;
    left: -45px;
}
.ItemDesc{
    padding: 5px 10px 15px 10px;
    font-size: 15px;
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 40px;
    position: absolute;
    top: 80px;
    z-index: 11;
    display: flex;
    justify-content: space-between;
}
.PriceDiscount{
    font-size: 14px;
    font-weight: 700;
    border: #dc3545 1px solid;
    color: #dc3545;
    padding: 1px 2px;
    white-space: nowrap;
}
.PriceMain{
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}