*{
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  min-height: 1000px;
  background: rgb(19,180,127);
  background: linear-gradient(180deg,  rgba(201,93,115,0.5) 0%,rgba(19,180,127,0.5) 100%);
}
.container{
  width: 1000px;
}
.row{
  display: flex;
  flex-direction: row;
}
.col{
  display: flex;
  flex-direction: column;
}
.aic{
  align-items: center;
}
.jca{
  display: flex;
  justify-content: space-around;
}
.jcb{
  display: flex;
  justify-content: space-between;
}
.jcc{
  display: flex;
  justify-content: center;
}
.d-flex{
  display: flex;
}


/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}