*{
  box-sizing: border-box;
}
.App{
  display: flex;
  justify-content: center;
  height: 1500px;
  background: rgb(107,175,170);
  background: linear-gradient(180deg, rgba(107,175,170,1) 5%, rgba(119,207,206,0.44861694677871145) 40%, rgba(255,255,255,1) 66%);
}
.container{
  width: 1000px;
}
.row{
  display: flex;
  flex-direction: row;
}
.col{
  display: flex;
  flex-direction: column;
}
.aic{
  align-items: center;
}
.jca{
  display: flex;
  justify-content: space-around;
}
.jcb{
  display: flex;
  justify-content: space-between;
}
.d-flex{
  display: flex;
}